django==3.1.0
django-cors-headers==2.5.3
django-filter==2.3.0
django-graphql-jwt
graphene-django==2.11.0
gunicorn
psycopg2
openpyxl==3.0.3
graphene-django-optimizer==0.6.2
requests==2.23.0
djangorestframework==3.11.0
django-reversion==3.0.7
django-reversion-compare==0.12.2
django-ckeditor==6.0.0
num2words==0.5.10
